<h1>Task Management</h1>
<%= link_to 'NEW Task', new_task_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Label</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.expired_at %></td>
    <td>
      <%= link_to 'Show', task_path(task.id) %>
      <%= link_to 'Edit', edit_task_path(task.id), data: {confirm: "Confirm Edit!"} %>
      <%= link_to 'Delete', task_path(task.id), method: :delete, data: {confirm: "Confirm Delete!"} %>
    </td>
  </tr>
<% end %>
</table>
