<div class="task_index_pg" >
<h1>Task Management</h1>
<%= link_to 'HOME', tasks_path, class:"link_top" %>
<%= link_to 'NEW Task', new_task_path, class:"link_top" %>
<%= link_to 'Sort By Deadline', tasks_path(expired_at: "true"), class:"link_top"%>
<p><strong>Search by TITLE </strong></p>
<%= form_with(url: search_path, method: :get, local: true) do |f| %>
  <%= f.text_field :title, placeholder: "title search" %>
  <%= f.select :status, Task.statuses.keys.to_a, include_blank: "Select Status"%>
  <%= f.submit 'search', class:"submit_btn"%>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Label</th>
    <th>Status</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.expired_at %></td>
    <td><%= task.status %></td>
    <td>
      <%= link_to 'Show', task_path(task.id), class:"link" %>
      <%= link_to 'Edit', edit_task_path(task.id), data: {confirm: "Confirm Edit!"}, class:"link" %>
      <%= link_to 'Delete', task_path(task.id), method: :delete, data: {confirm: "Confirm Delete!"}, class:"link" %>
    </td>
  </tr>
<% end %>
</table>
<%= paginate @tasks %>
</div>
