<h1>View Task</h1>
<div>
  <%= @task.title %>
  <%= @task.content %>
  <%= @label.pripority %>
  <%= @label.status %>
  <%= @label.category1 %>
  <%= @label.category2 %>
  <%= @label.category3 %>
</div>
