<!DOCTYPE html>
<html>
  <head>
    <title>May</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="alert alert-success" role="alert" align="center">
    <% flash.each do |key,value|%>
      <%= content_tag(:div,value,class:"#{key}") %>
    <% end %>
    </div>
    <div align="center">
    <% if logged_in? %>
      <%= link_to "Logout |", session_path(current_user.id), method: :delete%>
      <%= link_to "Create Account |", new_user_path%>
      <%= link_to 'Task Home |', tasks_path%>
      <%= link_to 'Profile |', user_path(current_user.id) %>
      <%= link_to 'Admin', admin_users_path, class: "link" %>
    <% else %>
      <%= link_to "Log In |", new_session_path%>
      <%= link_to "Create Account", new_user_path%>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
